/* Main layout to place table and form side by side */
.main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transition: width 0.3s ease-in-out;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

/* Scrollable table styling */
.scrollable-table {
    flex-grow: 1;
    margin-right: 20px;
    transition: flex-grow 0.3s ease-in-out;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: aquamarine;
    color: white;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table th, .table td {
    padding: 6px 8px;
    border: 1px solid #ddd;
}

.table tr:nth-of-type(even) {
    background-color: rgb(151, 172, 165);
}

.table tr:hover {
    background-color: #e0f7fa;
}

/* Form styling */
.student-form {
    display: none;
    width: 300px;
    transition: width 0.3s ease-in-out;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 4px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input, textarea {
    width: 50%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #c62828;
}

/* Responsive Design */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
        padding: 4px 6px;
    }

    .scrollable-table {
        height: auto;
        overflow-y: visible;
        margin-right: 0;
    }
}
