.manage-room-wrapper {
    background-color: #ffffff;
    max-width: 900px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Sidebar */
.sidebar {
    background-color: #1a1b2d;
    padding: 20px;
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #ffffff;
}

.menu-item p {
    font-size: 24px;
}

.menu-item:hover {
    background-color: #30334f;
}

.text {
    font-size: 16px;
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 20px;
    color: #b3b3b3;
    text-align: center;
}

.menu-item p.text:hover {
    background-color: transparent; /* No background change */
}

.content {
    flex-grow: 1;
    padding-left: 30px;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.request-table th, .request-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.request-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.request-table td {
    background-color: #fff;
}

.button-row {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.approve-options {
    display: none; /* Hidden by default */
    text-align: center;
    font-size: 1em;
}

.btn {
    padding: 10px 20px;
    background-color: #1a1b2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn:hover {
    background-color: #30334f;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.no-requests-message {
    text-align: center;
}

.flash-container {
    position: fixed; /* Stick it at the top */
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
  }
  
.flash-message {
    width: auto;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    display: none;
}
  
.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
  
.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}