.dashboard-wrapper {
    background-color: #ffffff;
    width: auto;
    max-width: 1000px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.greeting h1 {
    font-weight: bold;
}

.card {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    width: 30%;
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    justify-content: space-between; /* This ensures the text is left-aligned and the icon is right-aligned */
    align-items: center; /* Vertically center the icon and text */
}

.card-content h1 {
    margin: 0;
    font-size: 48px;
    color: #333;
}

.card-content i {
    font-size: 36px;
    color: #666;
}



.card p {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}

.greeting {
    text-align: center;
    margin-bottom: 20px;
}

.greeting h2 {
    font-size: 28px;
    color: #333;
}
