/* General page title styling */
.page-title {
    font-size: 2em;
    color: #ffffff;
    margin: 50px 0 20px 0;
    font-weight: bold;
    text-align: center;
}

/* Wrapper for booking details */
.booking-details-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Container for booking details */
.booking-details {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    
}

/* Styling for each piece of booking detail */
.booking-details p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #000000;
}

/* Heading for bed assignments section */
.bed-assignments h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
}

/* Styling for individual bed assignment blocks */
.bed-assignments div {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Styling for bed assignments text */
.bed-assignments p {
    margin: 5px 0;
}

.booking-details form {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Add some margin to separate from other elements */
}
/* Button styling */
form button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    
}

form button:hover {
    background-color: #0056b3;
}

form button:focus {
    outline: none;
}
