/* General Wrapper */
.wrapper {
  background-color: #ffffff;
  max-width: 1200px;
  border-radius: 15px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2{
  text-align: center;
  margin-bottom: 10px;
 }

.chat-container {
  display: flex;
  height: 700px;
}

/* Conversation List Styles */
.conversation-list {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  background-color: #ffffff;
}

.conversation-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.conversation-item.active {
  background-color: #e0e0e0;
}

.conversation-item:hover {
  background-color: #f0f0f0;
}

.conversation-item .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* Chat Area Styles */
.chat-area {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-form {
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* Message Styles */
.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.chat-message.sent {
  flex-direction: row-reverse;
}

.chat-message .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.chat-message .message-content {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.chat-message.sent .message-content {
  background-color: #dcf8c6;
}

form {
  display: flex;
  justify-content: center;  /* Center the form horizontally */ 
  padding-top: 20px;            
}

/* Form Styles */
input {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

/* Centering Container for the Paragraph */
.empty-chat {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;     
}

/* Paragraph Style for No Conversation Selected */
.empty-chat p {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9; 
  border-radius: 10px;
  border: 1px solid #ddd;
}

.search-form {
  display: flex;
  justify-content: center;  /* Center the search form */
  margin-bottom: 20px;      /* Space below the search form */
  margin-right: 10px;
}

.search-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;       /* Space between input and button */
}

.search-form button {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #45a049;
}
