.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


