* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('/static/images/inst-profile-header-mmu.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    height: 80px;
}

.logo {
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 16px;
    transition: 300ms;
    border-radius: 99px;
}

.nav a:hover {
    background: 
    rgba(0,0,0,0.2);
}
.user-form-group {
    display: flex;
    align-items: center;
}

.user-form-group a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.user-pic{
    width: 50px;
    height: 50px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 50%;
    cursor: pointer;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 4%;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: grey;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h1{
    font-size: 20px;
    font-weight: 500;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

.nav .logo{
    background-color: white;
    display: none;
}

#check {
    display: none;
}
.user-form-group label {
    display: none;
}
.exit-button{
    position: absolute;
    right: 5%;
}
.exit{
    width: 30px;
    cursor: pointer;
}