*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    align-items: center;
    display: flex;
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url({{url_for('static',filename='images/inst-profile-header-mmu.jpg')}}); */
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
						url('/static/images/inst-profile-header-mmu.jpg');
    background-position: center;
    background-size: cover;
}

.glass-blur-container {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	padding: 10px;
	border-radius: 10px;
    width: fit-content;
    margin: 40px auto;
}

.logo {
	width: 300px; /* adjust the logo size as needed */
	margin: 20px;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-container button {
	background-color: #4CAF50;
	color: #fff;
    font-size: 18px;
	padding: 15px 25px;
    width: 180px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin: 10px;
}

.button-container button:hover {
	background-color: #3e8e41;
}