* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), 
  url('/static/images/inst-profile-header-mmu.jpg');
  background-position: center;
  background-size: cover;
  justify-content: center; /* center the sign-in container */
  align-items: center; /* center the sign-in container */
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed; /* Fix the navbar to the top */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background: transparent;
}

.navbar .logo {
  width: 150px;
}

.nav {
  display: flex;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.login-container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.login-container h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-container input {
  width: 94%;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

.login-container input:focus {
  border-color: #aaa;
}

.login-container a {
  font-size: 14px;
  color: #337ab7;
  text-decoration: none;
}

.login-container a:hover {
  color: #23527c;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #23527c;
}