* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
    background: url('/static/images/inst-profile-header-mmu.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 13%;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 34px;
    font-weight: 600;
    color: #333;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}
.edit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  .edit-button:hover {background-color: #3e8e41}
  
  .edit-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.profile-content {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 100%;
}

.profile-content h2 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile-content p {
    color: #666;
    margin-bottom: 15px;
}

#edit-form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
input[type="submit"] {   
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
input[type="submit"]:hover {
    background-color: #3e8e41
} 
input[type="submit"]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
#cancel-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#cancel-button:hover {
    background-color: #870d0f
}
#cancel-button:active {
    background-color: #870d0f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


input[type="file"] {
    border: none;
    padding: 10px 0;
}