/* Page title styling */
.page-title {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

/* Wrapper for managing room content */
.manage-room-wrapper {
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 750px;
    margin: 0 auto 50px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    position: relative;
}

.manage-room-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table styling */
table {
    width: 100%;
    background-color: #f9f9f9;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    white-space: nowrap;
}

th, td {
    padding: 14px 18px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
}

td {
    color: #555;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Centers the button horizontally */
}

button:hover {
    background-color: #0056b3;
}

.select-room {
    padding: 12px 25px;
    font-size: 1em;
}

.note {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    margin-top: 20px;
}
