<link rel="stylesheet" href="{{ url_for('static' , filename = 'css/admin-trimester.css' ) }}">

</head>
{% extends 'admin_base.html' %}

{% block content %}

    <div class="container">
        <div class="sign-up-container">
            <form method="POST">
                <h1>Add new trimester</h1>
                <input name="semester" placeholder="August/October">
                <input name="term" placeholder="2024">
                <button class="add-button">add</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}