<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/admin-trimester.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/header-style.css' ) }}">
    {% block styles %}{% endblock %}

</head>
<body>
    <header>
        <div class="heading"><img src="/static/images/Multimedia_University_logo.png" alt="Multimedia University" style="width: 150px; height: 50px;" class="logo" ></div>
        <nav class="nav">
            <div class="divider"></div>
            <a href="{{ url_for('home') }}">Edit Trimester</a>
            <a href="{{ url_for('home') }}">Add Student</a>   
            <a href="{{ url_for('post') }}">Make Announcement</a>
        </nav>
    </header>
</body>
</html>

{% block content %}

{% endblock %}