<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/admin-trimester.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/header-style.css' ) }}">

</head> -->
{% extends 'admin_base.html' %}

{% block content %}
<body>
    <!-- <header>
        <div class="heading"><img src="/static/images/Multimedia_University_logo.png" alt="Multimedia University" style="width: 150px; height: 50px;" class="logo" ></div>
        <nav class="nav">
            <div class="divider"></div>
            <a href="{{ url_for('home') }}">Edit Trimester</a>
            <a href="{{ url_for('home') }}">Add Student</a>   
            <a href="{{ url_for('post') }}">Make Announcement</a>
        </nav>
    </header> -->

    <div class="container">
        <div class="sign-up-container">
            <form method="POST">
                <h1>Add new trimester</h1>
                <input name="semester" placeholder="Trimester">
                <input name="term" placeholder="Year">
                <button class="add-button">add</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}