<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU Hostel Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/header-style.css' ) }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="heading"><img src="/static/images/Multimedia_University_logo.png" alt="Multimedia University" style="width: 150px; height: 50px;" class="logo" ></div>
        <nav class="nav">
            <div class="divider"></div>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('room_setting') }}">Room</a>   
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('chatbox') }}">Chatbox</a>
        </nav>

        <div class="user-form-group">
            <img src="{{ profile_pic_url }}" class="user-pic" onclick="togglemenu()">
    
                <div class="sub-menu-wrap" id="sub-menu-wrap">
                    <div class="sub-menu">
    
                    <a href="{{ url_for('profile') }}" class="sub-menu-link">
                        <img src="/static/images/account.png">
                        <p>Edit Profile</p>
                        <span></span>
                    </a>
                   
                    <a href="#" class="sub-menu-link">
                        <img src="/static/images/setting.png">
                        <p>Settings</p>
                        <span></span>
                    </a>
    
                    <a href="{{ url_for('logout') }}" class="sub-menu-link">
                        <img src="/static/images/logout.png">
                        <p>Logout</p>
                        <span></span>
                    </a>
                    </div>
                </div>
            </div>
            <script>
                let submenu = document.getElementById("sub-menu-wrap");
        
                function togglemenu(){
                submenu.classList.toggle("open-menu");
                }
            </script> 
    </header>

{% block content %}

{% endblock %}