{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password-style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Change Password</h1>

        <form action="{{ url_for('change_password') }}" method="POST">
        {% if status %}
            <p class="status-message">{{ status }}</p>
        {% elif error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <input type="password" id="current_password" name="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}