<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU Hostel Management</title>
    <link rel="stylesheet" href="main-style.css">
    <!--import fonts poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/home-style.css' ) }}">
    <!--import box icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {% if session.loggedin %}
    <header>

        <h1><img src="static/images/Multimedia_University_logo.png" alt="Multimedia University" style="width: 150px; height: 50px;" class="logo" ></h1>

        <nav class="nav">
            <h1><img src="static/images/Multimedia_University_logo.png" alt="Multimedia University" style="width: 150px; height: 50px;" class="logo" ></h1>
            <div class="divider"></div>
            <a href="#">Home</a>
            <a href="#">About</a>   
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>

        <div class="user-form-group">
        <img src="/static/images/anime-default-pfp-5.jpg" class="user-pic" onclick="togglemenu()">

            <div class="sub-menu-wrap" id="sub-menu-wrap">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/static/images/anime-default-pfp-5.jpg">
                        <h1>User Name</h1>
                    </div>
                    <hr>

                <a href="#" class="sub-menu-link">
                    <img src="/static/images/account.png">
                    <p>Edit Profile</p>
                    <span></span>
                </a>
               
                <a href="#" class="sub-menu-link">
                    <img src="/static/images/setting.png">
                    <p>Setting</p>
                    <span></span>
                </a>

                <a href="#" class="sub-menu-link">
                    <img src="/static/images/logout.png">
                    <p>Logout</p>
                    <span></span>
                </a>
                </div>
            </div>
        </div>
        <script>
            let submenu = document.getElementById("sub-menu-wrap");
    
            function togglemenu(){
            submenu.classList.toggle("open-menu");
            }
        </script> 
    </header>

    {% else %}
 {% endif %}
 
</body>
</html>