<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Management in MMU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-container">
        {% for category, message in messages %}
          <div class="flash-message flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}

    <!-- Section 1: Index/Home Section -->
    <section id="home" class="section">
        <header class="navbar">
            <div class="heading">
                <img src="{{ url_for('static', filename='images/Multimedia_University_logo.png') }}" alt="Multimedia University" class="logo">
            </div>
            <nav class="nav">
                <a href="{{ url_for('index') }}#home">Home</a>
                <a href="{{ url_for('index') }}#about">About</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </header>
        <div class="title-container">
            <div class="title">
                <h1>MMU Hostel Management System</h1>
                <p>Explore our services and manage your accommodation seamlessly.</p>
                <div class="button-container">
                    <a href="{{ url_for('login') }}">
                        <button>Login</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2: About Section -->
    <section id="about" class="section">
        <div class="container1">
            <img src="/static/images/hostel/hostel.png" alt="Hostel Image">
            <div class="content">
                <div class="note">
                    <h2>Notes:</h2>
                    <p>• Selected student will be given ONE ACADEMIC YEAR to stay on campus<br>• Continuation of stay for the following academic year will be based on student club/sport activities and academic result</p>
                </div>
                <div class="contact">
                    <h2>Contact:</h2>
                    <p>Male Hostel: 03-83125443<br>Female Hostel: 03-8312 5212</p>
                </div>
                <div class="location">
                    <h2>Location:</h2>
                    <p>Student Lifestyle & Experience (STyLE) office,<br>Second Floor, STC Building, Cyberjaya Campus</p>
                </div>
            </div>
        </div>
        <div class="container2">           
            <h2>Room and Facilities:</h2>
            <div class="room_facilities">
                <div class="slideshow-container">
                    <div class="slide">
                        <img src="/static/images/hostel/common-room.png" alt="Common Room">
                        <div class="slide-caption">Common Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/study-room.png" alt="Study Room">
                        <div class="slide-caption">Study Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/surau.png" alt="Surau">
                        <div class="slide-caption">Surau</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/recretional-room.png" alt="Recreational Room">
                        <div class="slide-caption">Recreational Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/laundry.png" alt="Laundry">
                        <div class="slide-caption">Laundry</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/pantry.png" alt="Pantry">
                        <div class="slide-caption">Pantry</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/iron-room.png" alt="Iron Room">
                        <div class="slide-caption">Iron Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/food-court.png" alt="Food Court">
                        <div class="slide-caption">Food Court</div>
                    </div>
                </div>
        
                <!-- Second slideshow container for Twin Sharing Room images -->
                <div class="slideshow-container2">
                    <div class="slide">
                        <img src="/static/images/hostel/twin-1.png" alt="Twin Sharing Room">
                        <div class="slide-caption">Twin Sharing Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/twin-2.png" alt="Twin Sharing Room">
                        <div class="slide-caption">Twin Sharing Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/triple-1.png" alt="Triple Sharing Room">
                        <div class="slide-caption">Triple Sharing Room</div>
                    </div>
                    <div class="slide">
                        <img src="/static/images/hostel/triple-2.png" alt="Triple Sharing Room">
                        <div class="slide-caption">Triple Sharing Room</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(message => {
        message.style.display = 'block';
        setTimeout(() => {
        message.style.display = 'none';
        }, 3000); // Hide after 3 seconds
    });
    </script>
</body>
</html>
