<!DOCTYPE html>
<html>
<head>    
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Hostel Management in MMU</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>

<body class="header">
    <!-- <img src="{{ url_for('static', filename = 'images/inst-profile-header-mmu.jpg')}}"> -->



    <div class="glass-blur-container">
        <img src="{{ url_for('static', filename = 'images/Multimedia_University_logo.png')}}" alt="Multimedia University" class="logo">
        <div class="button-container">
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
            <a href="{{ url_for('signup') }}">
                <button>Sign Up</button>
            </a>
        </div>
    </div>
</body>
</html>