
    <link rel="stylesheet" href="\static\css\profile-style.css">
{% extends 'base.html' %}

{% block content %}


<body>
    <div class="container">
        <div class="announcement-content" id="announcement-display">
            <h2>Title</h2>
            <p id="title">{{ title }}</p>

            <h2>Context</h2>
            <p id="context">{{ context }}</p>

            <button id="edit-button" class="edit-button">Edit</button>

        </div>
        <form id="edit-form" method="post" enctype="multipart/form-data" style="display: none;">
            <textarea name="title" placeholder="Title">{{ title }}</textarea>
            <textarea name="context" placeholder="Context">{{ context }}</textarea>
            <div class="form-buttons">
                <input type="submit" value="Update Profile">
                <button type="button" id="cancel-button">Cancel</button>
            </div>
        </form>
    </div>
        
    <script>
        document.getElementById('edit-button').addEventListener('click', function() {
            document.getElementById('edit-form').style.display = 'block';
            document.getElementById('announcement-display').style.display = 'none';
            this.style.display = 'none';
        });

        document.getElementById('cancel-button').addEventListener('click', function() {
            document.getElementById('edit-form').style.display = 'none';
            document.getElementById('announcement-display').style.display = 'block';
            document.getElementById('edit-button').style.display = 'block';
        });
    </script>
</body>
{% endblock %}
</html>