<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\css\profile-style.css">
</head>
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-style.css') }}">
{% endblock %}

{% block content %}
    <h1 class="page-title">Student Profile</h1>
    <div class="container">
        {% if status == 'success' %}
            <p class="status-message">Password changed successfully!</p>
        {% endif %}
        <div class="profile-header">
            <img src="{{ image_url }}" class="profile-image" alt="Profile Image">
            <div class="profile-info">
                <h1>{{ name }}</h1>
                <h3>{{ student_id }}</h3>
            </div>
        </div>
        <div class="profile-content">
            <h2>Gender</h2>
            <p>{{ gender }}</p>
            <h2>Faculty</h2>
            <p>{{ faculty }}</p>
            <h2>Email</h2>
            <p>{{ email }}</p>
        </div>
        <div class="button-container">
            <a href="{{ url_for('edit_profile') }}" class="btn">Edit Profile</a> 
            <a href="{{ url_for('change_password') }}" class="btn">Change Password</a>
        </div>
    </div>

{% endblock %}