{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-style.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-container">
    {% for category, message in messages %}
    <div class="flash-message flash-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

    <h1 class="page-title">Student Profile</h1>
    <div class="container">
        <div class="profile-header">
            <img src="{{ profile_pic_url }}" class="profile-image" alt="Profile Image">
            <div class="profile-info">
                <h1>{{ name }}</h1>
                <h3>{{ student_id }}</h3>
            </div>
        </div>
        <div class="profile-content">
            <h2>Gender</h2>
            <p>{{ gender }}</p>
            <h2>Faculty</h2>
            <p>{{ faculty }}</p>
            <h2>Email</h2>
            <p>{{ email }}</p>
        </div>
        <div class="button-container">
            <a href="{{ url_for('edit_profile') }}" class="btn">Edit Profile</a> 
            <a href="{{ url_for('change_password') }}" class="btn">Change Password</a>
        </div>
    </div>

    <script>
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(message => {
          message.style.display = 'block';
          setTimeout(() => {
            message.style.display = 'none';
          }, 3000); // Hide after 3 seconds
        });
    </script>


{% endblock %}