{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/room_list-style.css') }}">
{% endblock %}

{% block content %}
<body</body>
    <div class="container">
        <table class="room-table">
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Type</th>
                    <th>Capacity</th>
                    <th>Status</th>
                    <th>Cost</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td>{{ room.number }}</td>
                    <td>{{ room.category }}</td>
                    <td>{{ room.capacity }} persons</td>
                    <td>{{ room.status }}</td>
                    <td>${{ room.cost }} per night</td>
                    <td>
                        {% if room.chosen_by is none %} 
                        <form action="{{ url_for('choose_room') }}" method="POST" onsubmit="return confirmRoomChoice('{{ room.number }}')">
                            <input type="hidden" name="room_number" value="{{ room.number }}">
                            <button type="submit" class="choose-btn">Choose</button>
                        </form>
                        {% else %}
                            <div class="chosen">Chosen</div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
