{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_hostel-style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Select Hostel</h1>
    <form action="{{ url_for('select_hostel', mode=mode) }}" method="POST">
        <label for="hostel">Choose a Hostel:</label>
        <select name="hostel" id="hostel" required>
            {% for hostel in hostels %}
            <option value="{{ hostel.id }}">{{ hostel.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Continue</button>
    </form>
</div>
{% endblock %}
