{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_bed-style.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Select Bed</h1>

<div class="manage-bed-wrapper">
    <h2>Room {{ selected_room }}</h2>
    <form method="POST">
        <div class="bed-selection-container">
            {% for bed in beds %}
            <div class="bed-selection">
                <h3>Bed {{ bed['bed_letter'] }}</h3>
                <select name="user_for_bed_{{ bed.id }}">
                    <option value="">Select a user</option>
                    {% for member in group_members %}
                    {% if member['id']|string not in assigned_users %}
                    <option value="{{ member['id'] }}">{{ member['name'] }} ({{ member['email'] }})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>

        <button type="submit">Confirm Bed Assignments</button>
    </form>
</div>


{% endblock %}