{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_room_type-style.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Select a Room</h1>

<div class="manage-room-wrapper">    
    <div class="manage-room-container">
        <form method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Available Beds</th>
                        <th>Total Beds</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in available_rooms %}
                    <tr>
                        <td>{{ room['number'] }}</td>
                        <td>{{ room['category'] }}</td>
                        <td>RM{{ room['price'] }}</td>
                        <td>{{ room['available_beds'] }}</td>
                        <td>{{ room['total_beds'] }}</td>
                        <td>
                            <input type="radio" name="room_number" value="{{ room['number'] }}" required>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <button type="submit" class="select-room">Select Room</button>
        </form>

        {% if mode == 'individual' %}
        <p class="note">Note: You can select a room with multiple beds. Other users may book the remaining beds later.</p>
        {% endif %}

        {% if mode == 'group' %}
        <p class="note">Note: You can select a room with more beds than your group size if desired.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
