<!DOCTYPE html>
<html>
<head>    
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Hostel Management in MMU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-style.css') }}">
</head>

<body class="header">
    <div class="sign-in-container">
            <form method="POST" action="#">
                <h1>Sign In</h1>
                <input type="sid" name="sid" placeholder="Student ID" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <a href="#">Forget your Password?</a>
                <button>Sign In</button>
            </form>
    </div>
</body>
</html>