<!DOCTYPE html>
<html>
<head>    
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Hostel Management in MMU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-style.css') }}">
</head>

<body class="header">
    <div class="sign-up-container">
            <form method="POST" action="#">
                <h1>Create Account</h1>
                <input name="name" type="txt" placeholder="Username" required="">
                <input name="email" type="email" placeholder="Email" required="">
                <input name="password" type="pswd" placeholder="Password" required="">
                <button>Sign Up</button>
            </form>
    </div>
</body>
</html>