{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey_all-style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Survey Completed</h1>
    <div class="wrapper">
        <p class="description">
            Your survey has been successfully completed and your responses have been saved.
        </p>
        <a href="{{ url_for('home') }}" class="btn">
            Return to Home
        </a>
    </div>
</div>
{% endblock %}
